/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* ..........................................................................................................................................*/
:root {
  --Very-dark-blue: hsl(233, 47%, 7%); /*(main background) */
  --Dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background) */
  --Soft-violet: hsl(277, 64%, 61%); /*(accent) */

  --White: hsl(0, 0%, 100%); /*(main heading, stats) */
  --Slightly-transparent-paragraph-main: hsla(
    0,
    0%,
    100%,
    0.75
  ); /*(main paragraph) */
  --Slightly-transparent-paragraph: hsla(0, 0%, 100%, 0.6); /* (stat headings)*/
}

footer {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Very-dark-blue);
  font-size: 0.93rem;
  font-family: "Inter", "Lexend Deca" sans-serif;
}

.container {
  background-color: var(--Dark-desaturated-blue);
  border-radius: 8px;
  overflow: hidden;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content_subcontainer {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  color: var(--White);
}

.image_heading {
  object-fit: cover;
  height: 100%;
}

.image_subcontainer {
  background-color: rgb(235 124 255 / 80%);
}

.image_heading {
  mix-blend-mode: multiply;
}

/* styling*/
h1 {
  line-height: 1em;
  font-size: 1.3rem;
}

span {
  color: var(--Soft-violet);
}

.first_paragraph {
  margin: 20px 0 20px 0;
  font-family: "Lexend Deca";
  color: var(--Slightly-transparent-paragraph-main);
  line-height: 1.6em;
  font-size: 0.8rem;
}

.stats_group {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 20px;
  padding: 0;
}

.stats_li {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 700;
}

.stats_li:nth-child(3) {
  text-transform: uppercase;
}

.stats_p {
  display: block;
  margin-top: 0.5rem;
  color: var(--Slightly-transparent-paragraph);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
}

/* styling */

@media (min-width: 43.75rem) {
  .container {
    flex-direction: row;
    max-width: 780px;
    margin: 0;
  }

  body {
    margin: 0;
  }

  .image_subcontainer {
    flex: 0 0 50%;
    order: 2;
  }

  .content_subcontainer {
    flex: 0 0 50%;
    text-align: left;
  }

  .stats_group {
    flex-direction: row;
    column-gap: 20px;
    margin: 0;
    margin-top: auto;
  }
}
